img {
  width: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
#face {
  width: 400px;
  position: static;
  z-index: 0;
}

.robotface {
  float: left;
  position: static;
  text-align: center;
}

  .robotface #eyes1 {
    top: 163px;
    left: 150px;
    width: 126px;
  }