body {
  font-family: 'Happy Monkey', cursive;
  line-height: 1.5;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding: 0px 50px;
  box-shadow: 10px 0px 6px -10px #333, -10px 0px 6px -10px #333; /*you need minus to add shadow on the left side*/
}

p, li {
  color: #707070;
}

#header {
  text-align: center;
  padding: 25px 0px;
}

h1 {
  color: #DB0038;
}

h2 {
  color: #3998A3;
}

h4 {
  color: #474747;
}


.hero {
  background-color: #f4f4f4;
  text-align: center;
  padding-bottom: 10px;
}

li {
  padding: 5px 0px;
}

.uppercase {
  text-transform: uppercase;
}

.horizontal-line {
  border-top: 2px solid #f1f1f1;
}

div > h3 {
  padding: 30px 0px 10px 0px;
}

.rating, .footer {
  padding: 25px 0px;
  text-align: center;
}

.stars {
  color: #F4B400;
  font-size: 25px;
}
